<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home - Shop Admin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!--Brand-->
            <a class="navbar-brand" href="/ShopAdmin">TheShop</a>
            <!--Toggler / collaps button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar links-->
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Customer}">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Report}">Sales Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Menu}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Settings}">Settings</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="container-fluid">
            <div>
                <h1>Users Management</h1>
                <a th:href = "@{/users/new}">Create New User</a>
            </div>
            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>

            <div>
                <form th:action="@{/users/page/1}" class="form-inline">
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    Filter:&nbsp;
                    <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
                    &nbsp;&nbsp;
                    <input type="submit" value="Search" class="btn btn-primary"/>
                    &nbsp;&nbsp;
                    <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
                </form>
            </div>
			<div> &nbsp;&nbsp;</div>
            <div>
                <table class="table table-Bordered table-striped table-hover table-responsive-xl">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>Photos</th>
                            <th th:replace="fragments :: column_link('email','E-Mail')"/>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Roles</th>
   							<th th:replace="fragments :: column_link('enabled','Enabled')"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${listUsers}">
                            <td>[[${user.id}]]</td>
                            <td>
                                <span th:if="${user.photos == null}" class="fas fa-portrait fa-2x icon-silver"></span>
                                <img th:if="${user.photos != null}" th:src="@{${user.getPhotoImagePAth}}" style="width: 70px"/>
                            </td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.firstName}]]</td>
                            <td>[[${user.lastName}]]</td>
                            <td>[[${user.roles}]]</td>
                            <td>
                                <a th:if="${user.enabled == true}" class="fas fa-check-circle" style="color: green"
                                   th:href="@{'/users/'+${user.id}+'/enabled/false'}" title="Enable User"></a>
                                <a th:if="${user.enabled == false}" class="fas fa-circle"
                                   th:href="@{'/users/'+${user.id}+'/enabled/true'}" title="Disable User"></a>
                            </td>
                            <td>
                                <a class="fas fa-edit icon-blue" th:href="@{'/users/edit/' + ${user.id}}" title="Edit User"></a>
                                &nbsp;
                                <a class="fas fa-trash icon-red link-delete"
                                   th:href="@{'/users/delete/' + ${user.id}}"
                                   th:userId="${user.id}"
                                   title="Delete User"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

			<div th:if="${totalItems > 4}">
				<nav class="pagination justify-content-center">
				  <ul class="pagination">
				  	<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				  		<a th:replace="fragments :: page_link(1,'First')"></a>
				  	</li>
				    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    	<a th:replace="fragments :: page_link(${currentPage-1},'Previous')"></a>
				    </li>
					
					<li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a th:replace="fragments :: page_link(${i},${i})"></a>
					</li>
				   
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				   	 	<a th:replace="fragments :: page_link(${currentPage+1},'Next')"></a>
				    </li>
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    	<a th:replace="fragments :: page_link(${totalPages},'Last')"></a>
				    </li>
				  </ul>
				</nav>
			</div>
			
            <div class="modal fade text-center" id="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <span id="confirmText"></span>
                        </div>
                        <div class="modal-footer" >
                            <a class="btn btn-success" href="" id="yesButton">Yes</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <p>The shop - Copyright &copy; TheShop</p>
            </div>
        </div>
    <script type="text/javascript">
        $(document).ready(
            function() {
                $(".link-delete").on("click",
                    function(e){
                       e.preventDefault();
                       link=$(this);
                       //alert($(this).attr("href"));
                       userId = link.attr("userId");
                       $("#yesButton").attr("href", link.attr("href"));
                       $("#confirmText").text("Are You Sure To Delete This User ID: "+userId+" ?!");
                       $("#confirmModal").modal();
                    }
                );
            }
        );
        
        function clearFilter(){
        	window.location = "[[@{/users}]]";
        }
    </script>
    </body>
</html>